<style>
    #details .title {
        padding:10px 10px 10px 10px;
        background-color: #3385FF;
        color: #ffffff;
    }
    #details .title a,#details small {
        color: #ffffff;
    }
    #details .title h3 {
        margin-top: 10px;
    }
    #details .content {
        padding:0px 10px 10px 10px;
    }
    #details .table>tbody>tr>td {
        border-top: 0;
    }
    #details h4 {
        border-bottom: 1px solid #eee;
        padding-top: 15px;
        padding-bottom: 5px;
        color:#3385ff ;
    }
    #details h4 .glyphicon {
        top: 2px;
    }
</style>

<div class="title">
    <a href="javascript:back()">
        <span class="glyphicon glyphicon-chevron-left"></span>返回"商家"的列表
    </a>
    <h3>
        {$supplier.name}
        <!--
        <div class="pull-right">
            <small>35.3km</small>
        </div>
        -->
    </h3>
    <!--
    <small>服务项目：纺织服装，机电产品，农产品</small>-->

</div>
<div class="content">
    <p style="margin-top: 15px">{$supplier.superiority|nl2br}</p>
    <h4><span class="glyphicon glyphicon-envelope"></span> 联系我们</h4>
    <table class="table table-condensed">
        <colgroup>
            <col class="col-xs-2">
            <col class="col-xs-6">
        </colgroup>
        <tbody>
            <tr>
                <td>联系人:</td>
                <td>{$supplier.linkman}</td>
            </tr>
            <tr>
                <td>联系电话:</td>
                <td>{$supplier.phone}</td>
            </tr>
            <tr>
                <td>地址:</td>
                <td>{$supplier.address}</td>
            </tr>
        </tbody>
    </table>
</div>