<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <include file="header" />
</head>

<body>

<include file="nav" />

<div class="container">

    <div class="col-12">
        <h1 class="page-header">编辑供应商</h1>
        <div class="row">
            <div class="col-md-8">
                <form method="post" action="/supplier/post?action=edit&id={$supplier.id}">
                    <div class="form-group">
                        <label>公司名称</label>
                        <input name="name" type="text" class="form-control" value="{$supplier.name}">
                    </div>

                    <div class="row form-group">
                        <div class="col-md-3">
                            <label>联系</label>
                            <input name="linkman" type="text" class="form-control" value="{$supplier.linkman}">
                        </div>
                        <div class="col-md-5">
                            <label>&nbsp;</label>
                            <input name="phone" type="text" class="form-control" value="{$supplier.phone}">
                        </div>
                    </div>
                    <hr />
                    <div class="row form-group" data-toggle="distpicker">
                        <div class="col-xs-3">
                            <label>地址</label>
                            <select name="province" data-province="{$supplier.province}" class="form-control"></select>
                        </div>
                        <div class="col-xs-3">
                            <label>&nbsp;</label>
                            <select name="city" data-city="{$supplier.city}" class="form-control"></select>
                        </div>
                        <div class="col-xs-4">
                            <label>&nbsp;</label>
                            <select name="county" data-district="{$supplier.county}" class="form-control"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <input name="address" type="text" class="form-control" value="{$supplier.address}">
                    </div>

                    <div class="form-group">
                        <label>公司经纬度</label>
                        <div class="form-inline">
                            <div class="form-group">
                                <label class="sr-only">longitude</label>
                                <input id="longitude" name="longitude" type="text" value="{$supplier.longitude}" class="form-control" placeholder="经度(longitude)">
                            </div>
                            <div class="form-group">
                                <label class="sr-only">latitude</label>
                                <input id="latitude" name="latitude" type="text" value="{$supplier.latitude}" class="form-control"  placeholder="纬度(latitude)">
                            </div>
                            <button type="button" class="btn btn-info" onclick="searchByStationName();">通过地址自动获取</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div id="container" class="form-control"style="height: 120px;overflow:hidden;"> </div>
                    </div>

                    <hr />
                    <div class="row form-group">
                        <div class="col-md-3 form-group">
                            <label>瓦线台数</label>
                            <input name="tile" type="text" value="{$supplier.tile}" class="form-control"  placeholder="瓦线台数">
                        </div>
                        <div class="col-md-3 form-group">
                            <label>印刷机数量</label>
                            <input name="press" type="text" value="{$supplier.press}" class="form-control"  placeholder="瓦线台数">
                        </div>
                        <div class="col-md-3 form-group">
                            <label>粘箱机台数</label>
                            <input name="sticking" type="text" value="{$supplier.sticking}" class="form-control"  placeholder="瓦线台数">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>公司优势</label>
                        <textarea name="superiority" class="form-control" rows="3">{$supplier.superiority}</textarea>
                    </div>
                    <hr />
                    <button type="submit" class="btn btn-primary">提交</button>
                </form>
            </div>
            <div class="col-md-4 left-tips">
                <h3>公司经纬度</h3>
                <p>公司经纬度可以根据已经填写的地址自动从百度地图获取，如果获取不到，可能是地址没有被百度收录或填写错误。</p>
                <p>此时可以先检查地址是否填写错误，如果无误，可以手动到下面网站获取：<a target="_blank" href="http://www.gpsspg.com/maps.htm">经纬度</a> </p>
            </div>
        </div>

    </div>

</div> <!-- /container -->

<include file="footer" />

<script src="https://cdn.nb.cx/distpicker/2.0.5/distpicker.min.js"></script>
<script type="text/javascript" src="https://api.map.baidu.com/api?v=1.3"></script>
<script type="text/javascript">
    var map = new BMap.Map("container");
    map.centerAndZoom("宁波", 12);
    //map.enableScrollWheelZoom();    //启用滚轮放大缩小，默认禁用
    //map.enableContinuousZoom();    //启用地图惯性拖拽，默认禁用

    //map.addControl(new BMap.NavigationControl());  //添加默认缩放平移控件
    //map.addControl(new BMap.OverviewMapControl()); //添加默认缩略地图控件
    //map.addControl(new BMap.OverviewMapControl({ isOpen: false, anchor: BMAP_ANCHOR_BOTTOM_RIGHT }));   //右下角，打开

    var localSearch = new BMap.LocalSearch(map);
    //localSearch.enableAutoViewport(); //允许自动调节窗体大小
    function searchByStationName(ve) {
        map.clearOverlays();//清空原来的标注
        var province = $("form select[name=province]").val();
        //var city = $("form select[name=city]").val();
        var county = $("form select[name=county]").val();
        var address = $("form input[name=address]").val();

        var keyword = province+county+address;

        localSearch.setSearchCompleteCallback(function (searchResult) {
            var poi = searchResult.getPoi(0);

            map.centerAndZoom(poi.point, 16);
            var marker = new BMap.Marker(new BMap.Point(poi.point.lng, poi.point.lat));  // 创建标注，为要查询的地方对应的经纬度
            map.addOverlay(marker);
            if(ve) return;
            document.getElementById("longitude").value = poi.point.lng;
            document.getElementById("latitude").value = poi.point.lat;
        });
        localSearch.search(keyword);
    }
    $(document).ready(function(){
        searchByStationName(true);
    });
</script>
</body>
</html>
