<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>共享定位</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.nb.cx/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://cdn.nb.cx/bootstrap/3.3.7/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <style>
        /* Sticky footer styles */
        html {
            height:100%;
            position: relative;
            min-height: 100%;
        }
        body {
            /* Margin bottom by footer height */
            height:100%;
            margin:0;
            padding:0
        }
        /* Custom page CSS */
        /* Not required for template or sticky footer method. */
        .container {
            width: auto;
            max-width: 680px;
            padding: 0 15px;
        }
        #container {
            height:100%;
            width:100%;
        }
        .anchorBL{
            display:none;
        }
        #me {
            position:absolute;
            left: 10px;
            bottom: 10px;
            width: 30px;
            height: 30px;
            background: aqua;
        }
    </style>
</head>
<body>
    <div id="container"></div>
    <div id="me"></div>
</body>
<script src="https://cdn.nb.cx/jquery/jquery-1.9.1.js"></script>
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak={$ak}"></script>
<script src="_pub_websocket.js"></script>
<script type="text/javascript" src="_pub_app.js?v=4"></script>
<script>
    var client = new Client('{$server}',function () {
        //上报我的地图编号到服务器
        client.send({
            action:'shared/enroll',
            map:'{$map}'
        });
    })

    var marker;//我的位置标记
    // 百度地图API功能
    var map = new BMap.Map("container");

    var markers = [];//别人的位置

    var sucess = function(position) {
        var coor= position.coords;
        if(!marker) {
            marker = cmarker(coor.longitude,coor.latitude);
        }
        else {
            //map.clearOverlays();//清空原来的标注
            marker.setPosition(new BMap.Point(coor.longitude,coor.latitude));
        }
        client.send({
            action:'shared/post',
            map:'{$map}',
            lat:coor.latitude,
            lng:coor.longitude,
        });
    }

    var fail = function(error) {
        $('#show').html('定位出错'+ error.errorCode+ error.message);
        switch(error.code) {
            case 1:
                alert('您拒绝了使用位置共享服务!');
                break;
            default :
                alert('获取位置失败!');
                break;
        }
    }

    //获取我的地图信息
    client.reply('enroll',function (pos) {
        $.each(pos.data,function (k,v) {
            var point = v.split(":");

            if(markers[k]) {
                markers[k].setPosition(new BMap.Point(point[0],point[1]));
            }
            else {
                markers[k] = omarker(k,point[0],point[1])
            }
        })

    })

    //注册位置变动事件
    navigator.geolocation.watchPosition(sucess,fail,{
        //是否为高经度
        enableHightAccuracy:true,
        //超时时间
        timeout:50000,
        //位置信息缓存保留时长
        maximumAge:0
    });
    //清除监听
    //var wachrID =
    // navigator.geolocation.clearWatch(watchID);

    //位置更新
    client.push('postion',function (pos) {
        if(markers[pos.fd]) {
            markers[pos.fd].setPosition(new BMap.Point(pos.lng,pos.lat));
        }
        else {
            markers[pos.fd] = omarker(pos.fd,pos.lng,pos.lat)
        }
    })

    //退出
    client.push('exit',function (pos) {
        map.removeOverlay(markers[pos.fd])
        markers[pos.fd] = false;
    })

    function cmarker(lng,lat) {
        var point=new BMap.Point(lng,lat);
        map.centerAndZoom(point,11);
        map.addControl(new BMap.ScaleControl());
        map.addControl(new BMap.OverviewMapControl());
        map.addControl(new BMap.MapTypeControl());
        map.enableScrollWheelZoom()

        var myIcon = new BMap.Icon("_pub_circle.png", new BMap.Size(24, 24), {
            offset: new BMap.Size(10, 25), // 指定定位位置
            imageOffset: new BMap.Size(0, 0) // 设置图片偏移
        });
        //var
        marker = new BMap.Marker(point,{icon:myIcon});
        //marker.setAnimation(BMAP_ANIMATION_BOUNCE);//跳动的动画
        map.addOverlay(marker);//标出所在地
        map.panTo(point);//地图中心移动
        marker.enableDragging();//设置可拖拽
        return marker;
    }

    function omarker(name,lng,lat) {
        var point=new BMap.Point(lng,lat);
        map.centerAndZoom(point,11);
        map.addControl(new BMap.ScaleControl());
        map.addControl(new BMap.OverviewMapControl());
        map.addControl(new BMap.MapTypeControl());
        map.enableScrollWheelZoom()

        //var myIcon = new BMap.Icon("https://api.map.baidu.com/img/markers.png", new BMap.Size(23, 25), {
        //    offset: new BMap.Size(10, 25), // 指定定位位置
        //    imageOffset: new BMap.Size(0, 0 - 10 * 25) // 设置图片偏移
        //});


        //显示数字序号
        var label = new BMap.Label(name, {
            offset : new BMap.Size(5, 4)
        });
        label.setStyle({
            background:'none',color:'#fff',border:'none'//只要对label样式进行设置就可达到在标注图标上显示数字的效果
        });

        //,{icon:myIcon}
        var marker = new BMap.Marker(point);
        marker.setLabel(label);//显示地理名称
        //marker.setAnimation(BMAP_ANIMATION_BOUNCE);//跳动的动画
        map.addOverlay(marker);//标出所在地
        map.panTo(point);//地图中心移动
        marker.enableDragging();//设置可拖拽
        marker['id'] = name;
        return marker;
    }

    $('#me').click(function () {
        marker.setPosition(new BMap.Point(121.433806,31.192588));
    })
</script>
</html>