.media-left a {
    background-image: url(/public/markers_new2_4ab0bc5.png);
    width: 18px;
    height: 27px;
    display: inline-block;
    margin-left: 6px;
    margin-top: 4px;
}
.no-1 {
    background-position: 0 -139px;
}
.no-2 {
    background-position: -18px -139px;
}
.no-3 {
    background-position: -36px -139px;
}
.no-4 {
    background-position: -54px -139px;
}
.no-5 {
    background-position: -72px -139px;
}
.no-6 {
    background-position: -90px -139px;
}
.no-7 {
    background-position: -108px -139px;
}
.no-8 {
    background-position: -126px -139px;
}
.no-9 {
    background-position: -144px -139px;
}
.no-10 {
    background-position: -162px -139px;
}